.section {
}

.info {
}

.name {
}

.subinfo {
  font-size: 17px;
  color: var(--secondary-text-clr);
}

.position {
}

.experienceWrap {
}

.timeIcon {
  stroke: var(--secondary-text-clr);
}

.experience {
}
